<nav>
  <a *ngFor="let navItem of navConfig.navItems" class="nav-btn" routerLink='{{navItem.routerLink}}'
     routerLinkActive="{{navItem.linkActiveClass}}">
    <button #navLink *ngIf="navItem.subItems === undefined || navItem.subItems.length < 1; else subMenu"
            mat-button>{{navItem.label}}</button>
    <ng-template #subMenu>
      <button [matMenuTriggerData]="menuData(navItem.id)" [matMenuTriggerFor]="menu" class="nav-expandable"
              id="{{navItem.id}}"
              mat-button>{{navItem.label}}</button>
      <mat-menu #menu="matMenu" class="nav-menu"
                yPosition="below">
        <ng-template let-menuWidth="triggerWidth" matMenuContent>
          <div [style.width.px]="menuWidth">
            <a *ngFor="let subItem of navItem.subItems" class="nav-btn" routerLink="{{subItem.routerLink}}"
               routerLinkActive="{{subItem.linkActiveClass}}">
              <button #navLink mat-button>{{subItem.label}}</button>
            </a>
          </div>
        </ng-template>
      </mat-menu>
    </ng-template>
  </a>
</nav>
