<form [formGroup]="newMemberForm" (ngSubmit)="submitMember()" autocomplete="off" autocapitalize="on">
  <h3 mat-dialog-title>Rosters & Cover System</h3>
  <mat-grid-list [cols]="(responsiveService.isWeb | async)?.matches ? 2 : 1" rowHeight="3:1">
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>username</mat-label>
        <input matInput type="text" formControlName="username">
        <mat-error *ngIf="hasError('username')">{{getErrorMessage('username')}}</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput type="text" formControlName="firstName">
        <mat-error *ngIf="hasError('firstName')">{{getErrorMessage('firstName')}}</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput type="text" formControlName="lastName">
        <mat-error *ngIf="hasError('lastName')">{{getErrorMessage('lastName')}}</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email">
        <mat-error *ngIf="hasError('email')">{{getErrorMessage('email')}}</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Mobile</mat-label>
        <input matInput type="text" formControlName="mobile">
        <mat-error *ngIf="hasError('mobile')">{{getErrorMessage('mobile')}}</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Brigade no.</mat-label>
        <input matInput type="number" formControlName="brigadeNo">
        <mat-error *ngIf="hasError('brigadeNo')">{{getErrorMessage('brigadeNo')}}</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <input matInput type="text" formControlName="role">
        <mat-error *ngIf="hasError('role')">{{getErrorMessage('role')}}</mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-dialog-actions align="end">
    <button (click)="closeDialog()" mat-button>Cancel</button>
    <button mat-raised-button color="accent" type="submit">Submit</button>
  </mat-dialog-actions>
</form>
