<mat-toolbar color="primary">
  <div id="toolbar-left">
    <button #drawerToggleBtn (click)="sidenav.toggle()" class="flexItem" mat-icon-button>
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    RACS
  </div>
  <div class="px-4 d-flex" id="toolbar-right">
    <mat-icon id="notification" matBadge="15" matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" mode="over">
    <racs-navigation [navConfig]="navConfig"></racs-navigation>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
