@use 'src/_common.scss' as common;

mat-toolbar {
  max-height: 6vh;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0;
  #toolbar-left {
    @include common.displayFlex(row, flex-start, center);
  }
  #toolbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    height: 100%;
    padding-right: .9rem;
    mat-icon {
      font-size: 18px;
    }
  }
}

mat-sidenav-container {
  height: 94vh;
}
