@use 'src/common' as common;
@use 'node_modules/@angular/material/index' as mat;

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      45deg,
      mat.get-color-from-palette(common.$primary-palette, 200),
      mat.get-color-from-palette(common.$accent-palette, 200),
  );
}

form {
  border-radius: .5rem;
  padding: 2.5rem;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h1 {
    margin-bottom: .2rem;
  }

  button {
    margin: .2rem;
  }
}
