@use 'src/common' as common;
@use 'node_modules/@angular/material/index' as mat;

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background: linear-gradient(
      45deg,
      transparentize(mat.get-color-from-palette(common.$primary-palette, 500), .7),
      transparentize(mat.get-color-from-palette(common.$accent-palette, 500), .7),
  );
}

form {
  border-radius: .4rem;
  background-color: white;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);

  h1 {
    margin-bottom: .2rem;
  }

  button {
    margin: .2rem;
  }

  #error-box {
    margin: 0.35rem;
    padding: .45rem;
    border-radius: 5px;
    @include common.borderWarn(2px, solid, 500, .3);
    @include common.backgroundColorWarn(500, .8);
    @include common.colorWarn(500);
  }
}
