<mat-toolbar color="primary">
  <div id="toolbar-left">
    <button class="flexItem" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    RACS
  </div>
  <div id="toolbar-right" class="px-4 d-flex">
    <mat-icon id="notification" matBadge="15" matBadgeSize="small" matBadgeColor="warn">notifications</mat-icon>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav  #sidenav="matSidenav" mode="over">
    <nav>
      <button mat-button color="primary">
        <div>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </div>
      </button>
      <button mat-button [matMenuTriggerFor]="rosterMenu" color="primary">
        <div>
          <mat-icon>calendar_month</mat-icon>
          <span>Rosters</span>
        </div>
        <mat-menu #rosterMenu="matMenu" xPosition="before" yPosition="below">
          <menu mat-menu-item>671</menu>
          <menu mat-menu-item>672</menu>
        </mat-menu>
      </button>
      <button mat-button color="primary">
        <div>
          <mat-icon>fire_truck</mat-icon>
          <span>Appliance Checks</span>
        </div>
      </button>
      <button mat-button color="primary">
        <div>
          <mat-icon>contacts</mat-icon>
          <span>Contacts</span>
        </div>
      </button>
      <button mat-button color="primary">
        <div>
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
        </div>
      </button>
      <button mat-button color="primary">
        <div>
          <mat-icon>monitoring</mat-icon>
          <span>Stats</span>
        </div>
      </button>
      <button mat-button color="primary">
        <div>
          <mat-icon>assignment</mat-icon>
          <span>Notices</span>
        </div>
      </button>
      <button mat-button color="primary">
        <div>
          <mat-icon>rv_hookup</mat-icon>
          <span>Trailer</span>
        </div>
      </button>
      <button mat-button color="primary">
        <div>
          <mat-icon>help</mat-icon>
          <span>Help</span>
        </div>
      </button>
      <button mat-button color="primary">
        <div>
          <mat-icon>bug_report</mat-icon>
          <span>Known Issues</span>
        </div>
      </button>
      <button mat-button color="primary">
        <div>
          <mat-icon>logout</mat-icon>
          <span>logout</span>
        </div>
      </button>
    </nav>
  </mat-sidenav>

  <!-- Router for main components of the Vision application -->
  <mat-sidenav-content>
  </mat-sidenav-content>
</mat-sidenav-container>
