@use 'sass:map';
@use '@angular/material' as mat;
@use "styles" as global;

$color-config: mat.get-color-config(global.$RACS-theme);
$typo-config: mat.get-typography-config(global.$RACS-theme);

$primary-palette: map.get($color-config, 'primary');
$accent-palette: map.get($color-config, 'accent');
$warn-palette: map.get($color-config, 'warn');

@mixin colorPrimary($hue) {
  color: mat.get-color-from-palette($primary-palette, $hue);
}

@mixin backgroundColorPrimary($hue, $transparency) {
  background-color: transparentize(mat.get-color-from-palette($primary-palette, $hue), $transparency);
}

@mixin borderPrimary($line-width, $line-style, $color-hue, $color-transparency) {
  border: $line-width $line-style transparentize(mat.get-color-from-palette($primary-palette, $color-hue), $color-transparency);
}

@mixin colorAccent($hue) {
  color: mat.get-color-from-palette($accent-palette, $hue);
}

@mixin backgroundColorAccent($hue, $transparency) {
  background-color: transparentize(mat.get-color-from-palette($accent-palette, $hue), $transparency);
}

@mixin colorWarn($hue) {
  color: mat.get-color-from-palette($warn-palette, $hue);
}

/**
 * Applies the specified color to the background color of the component.
  * @param $hue The hue of the color to apply.
  * @param $transparency The transparency level to apply.
 */
@mixin backgroundColorWarn($hue, $transparency) {
  background: transparentize(mat.get-color-from-palette($warn-palette, $hue), $transparency);
}

@mixin borderWarn($line-width, $line-style, $color-hue, $color-transparency) {
  border: $line-width $line-style transparentize(mat.get-color-from-palette($warn-palette, $color-hue), $color-transparency);
}

@mixin displayFlex($direction, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;

}
