<mat-card id="membership-card">
  <mat-card-title>
      <mat-form-field id="member-filter" color="accent" appearance="standard" class="w-100">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="this.membershipTable!.filter($event)" #filterInput>
      </mat-form-field>
  </mat-card-title>
  <mat-card-content>
    <racs-membership-table [filterInput]="filterInput"></racs-membership-table>
  </mat-card-content>
<!--  <mat-divider inset></mat-divider>-->
  <mat-card-actions align="end">
    <button mat-raised-button color="accent" (click)="openMemberCreateDialog()">Add Member</button>
  </mat-card-actions>
</mat-card>

